.pd-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 2em;
}

.nav-bar {
  background: linear-gradient(90deg, rgba(219,19,19,1) 0%, rgba(245,203,9,1) 33%, rgba(245,203,9,1) 66%, rgba(219,19,19,1) 100%);
  color: white;
  margin-bottom: 0.3rem;
}

.site-wide-announcement {
  text-align: center;
  display: inline-block;
  margin: 0.3rem;
}

/* ======================================================
Product Information Styling
====================================================== */

.sale-price {
  font-weight: bold;
  color: red;
}

.image-gallery-container, .product-slogan-description {
  flex-grow: 2;
}

.product-info-container, .product-features {
  flex-grow: 1;
}

.gallery-and-styles-container, .product-overview-container {
  display: flex;
  flex-wrap: wrap;
}

.product-styles-container {
  display: flex;
}

.product-info-container {
  flex-direction: column;
}

.image-gallery-container {
  display: flex;
  justify-content: left;
}

.carousel-thumbnail-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.carousel-item-thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 15px;
}

button, .carousel-item-thumbnail:hover {
  cursor: pointer;
}

.carousel-container {
  display: flex;
  flex-grow: 5;
  overflow: hidden;
  max-width: 500px;
  /* transform: translateX(100px); */
  position: relative;
}

.carousel-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#carousel-prev, #carousel-next {
  font-weight: bold;
  font-size: 30px;
}

#carousel-thumbnail-prev, #carousel-thumbnail-next {
  font-weight: bold;
  font-size: 20px;
}

.displayed-image {
  height: 500px;
  width: 500px;
  object-fit: cover;
}

.displayed-image:hover {
  cursor: zoom-in;
}

.style-item-overlay {
  display: inline-block;
  position: relative;
}

.style-item {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  padding: 5px;
}

.style-item:hover {
  opacity: 75%;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0px;
  right: 0px;
}

#add-to-cart-button {
  float: left;
}

/* ======================================================
Social Media Icons Styling
====================================================== */
.fa {
  padding: 10px;
  font-size: 15px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 2px 1px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

/* ======================================================
Product Overview Styling
====================================================== */

ul {
  list-style: none;
}

ul li:before {
  content: '✓';
}

