.pd-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 2em;
}

.nav-bar {
  background: linear-gradient(90deg, rgba(219,19,19,1) 0%, rgba(245,203,9,1) 33%, rgba(245,203,9,1) 66%, rgba(219,19,19,1) 100%);
  color: white;
  margin-bottom: 0.3rem;
}

.site-wide-announcement {
  text-align: center;
  display: inline-block;
  margin: 0.3rem;
}

.image-gallery, .product-slogan-description {
  flex-grow: 2;
}

.product-info-and-styles, .product-features {
  flex-grow: 1;
}

.product-info-container, .product-overview-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  float: left;
}

.displayed-image {
  height: auto;
  width: auto;
  max-width: 500px;
  max-height: 500px;
}

.fa {
  padding: 10px;
  font-size: 15px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 2px 1px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

ul {
  list-style: none;
}

ul li:before {
  content: '✓';
}

