/* ================================================================
     Related Product and Outfits Component
   ================================================================
*/

.relatedProductOutfit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em 8em;
}

/* ================================
      Related Product Cards
   ================================
*/

.relatedProductsContainer h3, .outfitContainer h3 {
  text-align: center;
}

.relatedProductContainer, .outfitItemContainer{
  width: 800px;
  height: 325px;
  overflow: hidden;
  scroll-behavior: smooth;
  align-self: auto;
  display: flex;
  position: relative;
  margin-left: 100px;
}

.productCard, .outfitCard, .addToOutfit {
  border: .5px solid #000000;
  width: 225px;
  height: 315px;
  margin: 5px;
}

.removed {
  visibility: hidden;
}

.cardContent {
  display: flex;
  flex-direction: column;
  width: 225px;
  height: 275px;
}

.relatedImage {
  height: 200px;
  width: 225px;
}

.productCardName, .productCardCategory, .productCardPrice, .productCardSale {
  font-size: 15px;
  margin: 6px 0px;
  padding: 0 0 0 20px;
}

.productCardPriceSale {
  font-size: 15px;
  margin: 6px 0px;
  padding: 0 0 0 20px;
  text-decoration: line-through;
}

.productCardSale {
  font-size: 15px;
  margin: 6px 0px;
  padding: 0 0 0 20px;
  color: red;
}

.priceInfo {
  display: flex;
  flex-direction: row;
}

.fas {
  position: relative;
  bottom: 195px;
  left: 200px;
  color: #f7f7f7;
}

.previousProduct, .nextProduct{
  height: 40px;
  width: 60px;
}

.nextProduct{
  position: relative;
  bottom: 210px;
  left: 870px;
  font-size: 20px;
}

.previousProduct{
  position: absolute;
  top: 950px;
  left: 75px;
  font-size: 20px;
}

/* ================================
      Comparison Modal
   ================================
*/

.productModal {
  width: 500px;
  height: 440px;
  position: fixed;
  left: 280px;
  top: 200px;
  right: 0;
  bottom: 0;
  background-color: #f7f7f7;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  position: sticky;
}

.modalExit {
  position: absolute;
  left: 465px;
  top: 10px;
  height: 20px;
  width: 20px;
}

.productModal h1 {
  font-size: 12px;
  letter-spacing: 1px;
  margin: 15px 15px 5px 15px;
}

.leftHeader {
  text-align: start;
  font-size: 18px;
  padding: 0px 0px 30px 12px;
}

.rightHeader {
  text-align: end;
  font-size: 18px;
  padding: 0px 12px 30px 0px;
}

.compareTable {
  margin: 5px 15px 15px 12px;
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
}

.checkLeftHeader {
  text-align: start;
  width: 35%;
}

.checkRightHeader {
  text-align: end;
  width: 35%;
}

.checkLeft {
  text-align: start;
}

.checkRight {
  text-align: end;
  padding: 0px 26px 0px 0px;
}

.productInfo {
  text-align: center;
  width: 30%;
  font-weight: bold;
}

td {
  text-align: center;
}


/* ================================
      Outfit Item Cards
   ================================
*/

.addToOutfit {
  border: solid .5px black;
  margin: 5px 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 315px;
}

.addToOutfitContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 120px;
  border: solid 1px black;
}

.addToOutfit h1{
  font-size: 25px;
}

.addToOutfit i{
  font-size: 25px;
}

.fa-circle-xmark {
  position: relative;
  bottom: 185px;
  left: 200px;
  color: #f7f7f7;
}


