
/* ================================
      Related Product Cards
   ================================
*/

.relatedProductContainer, .outfitItemContainer{
  border: 1px solid rgb(152, 152, 205);
  width: 600px;
  height: 400px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
}

.productCard, .outfitCard{
  border: .5px solid #000000;
  width: 250px;
  height: 325px;
  margin: 5px 7px;
}

.innerCard {
  display: flex;
  flex-direction: column;
}

/* ================================
      Outfit Item Cards
   ================================
*/
